@model TripSearchViewModel

<div id="searchResult">
    <div class="row d-flex.justify-content-center">
        <h3 class="col-md-12" style="color:salmon">@Model.Trips.Count()</h3>
    </div>
    @if (!Model.Trips.Any())
    {
        <p class="text-center">
            <em class="text-muted">No trips avaliable for the selected filters</em>
        </p>
    }
    @foreach (var trip in Model.Trips)
    {
        <div class="center" style="left:75%">
            <div class="card green">
                <div class="additional">
                    <div class="user-card">
                    </div>
                    <a asp-controller="Trips" asp-action="Details" asp-route-id="@trip.Id">
                        <div class="more-info">
                            <h1>@trip.UserUserName</h1>
                            <div class="coords">
                                <span>Created On</span>
                                <span>@trip.CreatedOn</span>
                            </div>
                            <div class="coords">
                                <span>Seats</span>
                                <span>@trip.Passengers.Count() / @trip.Car.Seats</span>
                            </div>
                            <div class="coords">
                                <span>Price per passanger</span>
                                <span>@trip.PricePerPassenger BGN</span>
                            </div>
                            <div class="stats">
                                <div>
                                    <div class="title">Rating</div>
                                    <i class="fa fa-star"></i>
                                    <div class="value">2</div>
                                </div>
                                <div>
                                    <div class="title">Matches</div>
                                    <i class="fa fa-gamepad"></i>
                                    <div class="value">27</div>
                                </div>
                                <div>
                                    <div class="title">Pals</div>
                                    <i class="fa fa-group"></i>
                                    <div class="value">123</div>
                                </div>
                                <div>
                                    <div class="title">Coffee</div>
                                    <i class="fa fa-coffee"></i>
                                    <div class="value infinity">∞</div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="general">
                    <h1>@trip.UserUserName</h1>
                    <div class="coords">
                        <span>Going from</span>
                        <span>/</span>
                        <span>@trip.FromDestinationName</span>
                    </div>
                    <div class="coords">
                        <span>Going to</span>
                        <span>/</span>
                        <span>@trip.ToDestinationName</span>
                    </div>
                    <div class="coords">
                        <span>Date of departure</span>
                        <span>@trip.DateAsString</span>
                    </div>
                    <span class="more">Mouse over the card for more info</span>
                </div>
            </div>
        </div>
    }
