@using Tompany.Data.Models;
@using Microsoft.AspNetCore.Identity;
@using Tompany.Data.Models.Enums;

@model TripDetailsViewModel
@{
    var tripRequestMessage = this.TempData["RequestMessage"];

}
<div id="banner-area">
    <img src="~/images/banner/contactFormBanner.jpeg" width="1900" height="400" border="1" alt="" />
    <div class="parallax-overlay"></div>
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Detailed Information</h2>
            <h3 style="color:white">Trip post added by @Model.UserUserName</h3>
            <ul class="breadcrumb">
                <li>Home</li>
                <li><a asp-area="" asp-controller="Trips" asp-action="Details" asp-route-tripId="@Model.Id"> Detailed Information</a></li>
            </ul>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="row mb-0 mb-md-3">
                <div class="col-lg-6">
                    <h3>Trip Post</h3>
                </div>
                @if (this.User.Identity.Name == Model.UserUserName)
                {
                    <a class="btn btn-primary" id="joinGroup" asp-controller="Chats" asp-action="GroupChat" asp-route-group="@Model.GroupName" asp-route-tripId="@Model.Id">Join chat</a>
                    <a class="btn btn-warning" id="joinGroup" asp-controller="Trips" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-danger" id="joinGroup" asp-controller="Trips" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                }
                @if (this.User.Identity.Name != Model.UserUserName)
                {
                    @if (Model.TripRequests.Any(x => x.Sender.UserName == this.User.Identity.Name))
                    {
                        <div class="col-lg-6">
                            <div class="alert alert-success alert-dismissable" role="alert">
                                @tripRequestMessage
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            @if (Model.TripRequests.Any(x => x.Sender.UserName == this.User.Identity.Name && x.RequestStatus == RequestStatus.Accepted) || this.User.Identity.Name == Model.User.UserName)
                            {
                                <a class="btn btn-primary" asp-controller="Chats" asp-action="GroupChat" asp-route-group="@Model.GroupName" asp-route-tripId="@Model.Id">Join chat</a>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-6">
                            <a class="btn btn-primary" asp-controller="Trips" asp-action="Candidate" asp-route-tripId="@Model.Id">Candidate</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="section-title">
                        <h4>Detailer Information</h4>
                    </div>
                </div>
            </div>


            <div class="property-item">
                <div class="pi-text">
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <div class="pt-price">
                        <span class="h4">
                            <span class="align-top">@Model.FromDestinationName</span>
                        </span>
                        <i class="fas fa-arrow-alt-circle-right fa-1x"></i>

                        <span class="h4">
                            <span class="align-top">@Model.ToDestinationName</span>
                        </span>
                    </div>
                    <h5>
                        <span class="text-muted align-top">Date of Departure: </span>
                        <span class="align-top" style="color:#00C89E; font-size:25px">@Model.DateAsString</span>
                    </h5>

                    <div class="col">
                        <i class="fas fa-money-bill fa-1x"></i>
                        <span class="text-muted align-top">Price: </span>
                        <span class="h4">@Model.PricePerPassenger BGN</span>
                    </div>

                    <div class="col">
                        <i class="fas fa-car fa-1x"></i>
                        <span class="text-muted align-top">Vehicle: </span>
                        <span class="h4">@Model.Car.Brand @Model.Car.Model</span>
                    </div>

                    <div class="col">
                        <i class="fas fa-eye fa-1x"></i>
                        <span class="text-muted align-top">Viewed: </span>
                        <span class="h4">@Model.Views.Count times</span>
                    </div>

                    <div class="col">
                        <i class="fas fa-users fa-1x"></i>
                        <span class="text-muted align-top">Free seats: </span>
                        <span class="h3 @(Model.Passengers.Count() == Model.Car.Seats ? "text-danger" : "text-success")">@(Model.Car.Seats - Model.Passengers.Count())</span>
                    </div>

                    <hr />
                    <div class="col">
                        <div class="about">
                            <span class="h4">@Model.AdditionalInformation </span>

                        </div>
                    </div>
                </div>
            </div>


            <hr />
            <hr />
            <hr />
            <hr />
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="section-title">
                        <h4>Vehicle information</h4>
                    </div>
                </div>
            </div>

            <div class="property-item">
                <div class="pi-text">
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <div class="col">
                        <span class="h4" style="color:#00C89E; font-size:25px">@Model.Car.Brand @Model.Car.Model</span>
                    </div>
                    <div class="col">
                        <div class="card-img-overlay">
                            <img src=@Model.Car.CarImageUrl width="200" height="150" />
                        </div>
                    </div>

                    <div class="col">
                        <span class="text-muted align-top">Year Of Manufacture: </span>
                        <span class="h4">@Model.Car.YearOfManufacture</span>
                    </div>

                    <div class="col">
                        <span class="text-muted align-top">Color: </span>
                        <span class="h4">@Model.Car.Color</span>
                    </div>

                    <div class="col">
                        <span class="text-muted align-top">Passenger seats: </span>
                        <span class="h4">@Model.Car.Seats</span>
                    </div>

                    <hr />
                    <div class="col">
                        <i class="fas fa-smoking fa-1x"></i>
                        <span class="text-muted align-top">Smoking allowed: </span>
                        <span class="h4 @(Model.Car.IsSmokingAllowed == true ? "text-success" : "text-danger")">@(Model.Car.IsSmokingAllowed ? "Yes" : "No")</span>
                    </div>
                    <div class="col">
                        <i class="fas fa-luggage-cart fa-1x"></i>
                        <span class="text-muted align-top">Room for luggage: </span>
                        <span class="h4 @(Model.Car.IsLuggageAvaliable == true ? "text-success" : "text-danger")">@(Model.Car.IsLuggageAvaliable ? "Yes" : "No")</span>
                    </div>
                    <div class="col">
                        <i class="fas fa-wind fa-1x"></i>
                        <span class="text-muted align-top">Air conditioning: </span>
                        <span class="h4 @(Model.Car.IsAirConditiningAvailable == true ? "text-success" : "text-danger")">@(Model.Car.IsAirConditiningAvailable ? "Yes" : "No")</span>
                    </div>
                    <div class="col">
                        <i class="fas fa-paw fa-1x"></i>
                        <span class="text-muted align-top">Allowed for pets: </span>
                        <span class="h4 @(Model.Car.IsAllowedForPets == true ? "text-success" : "text-danger")">@(Model.Car.IsAllowedForPets ? "Yes" : "No")</span>
                    </div>
                </div>
            </div>

            <hr />

        </div>
        <div class="col-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="section-title">
                            <h4>Owners Profile</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a asp-controller="Users" asp-action="Profile" asp-route-username="@Model.UserUserName">
                            <div class="ts-item">
                                <div class="ts-text">
                                    <img src=@Model.User.ImageUrl alt="">
                                    <h5>@Model.UserUserName</h5>
                                    <span>@(Model.User.PhoneNumber == null ? "No phone nubmer added" : Model.User.PhoneNumber)</span>
                                    <p>Check owners profile.</p>
                                    <div class="ts-social">
                                        <a href="@Model.User.FacebookUrl"><i class="fa fa-facebook"></i></a>
                                        <a href="@Model.User.TwitterUrl"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="section-title">
                        <h4>Accepted Passengers</h4>
                    </div>
                </div>
            </div>

            @if (Model.Passengers.Count() <= 0)
            {
                <div class="alert alert-success " role="alert">
                    There are no passengers accepted for this trip.
                </div>
            }
            else
            {
                @foreach (var request in Model.TripRequests.Where(x => x.RequestStatus == RequestStatus.Accepted))
                {
                    <div class="row">
                        <a asp-controller="Users" asp-action="Profile" asp-route-username="@request.Sender.UserName">
                            <div class="passenger-item">
                                <div class="passenger-text">
                                    <img src=@request.Sender.ImageUrl alt="">
                                    <h5>@request.Sender.UserName</h5>
                                    <span>Hover and click to view users profile.</span>
                                </div>
                            </div>
                        </a>

                    </div>
                }
            }

            @if (Model.UserUserName == User.Identity.Name)
            {
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="section-title">
                            <h4>Pending Passengers</h4>
                        </div>
                    </div>
                </div>
                @foreach (var request in Model.TripRequests.Where(x => x.RequestStatus == RequestStatus.Pending))
                {
                    <div class="row">
                        <div class="passenger-item">
                            <div class="passenger-text">
                                <img src=@request.Sender.ImageUrl alt="">
                                <h5>@request.Sender.UserName</h5>
                                <div class="row">
                                    <a class="btn btn-primary" style="background-color:white;color:black" asp-controller="Users" asp-action="AcceptRequest" asp-route-senderId="@request.SenderId" asp-route-tripId="@Model.Id">Accept Request</a>
                                    <a class="btn btn-danger" asp-controller="Users" asp-action="DeclineRequest" asp-route-senderId="@request.SenderId" asp-route-tripId="@Model.Id">Decline Request</a>

                                </div>
                                <a asp-controller="Users" asp-action="Profile" asp-route-username="@request.Sender.UserName">
                                    <span>Hover and click to view users profile.</span>
                                </a>
                            </div>
                        </div>

                    </div>
                }

            }

            <hr />


        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/chatGroup.js"></script>
}